<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers</title>
    <style>
    .submit2 {
    background-color: #008CBA;
    padding: 12px 30px;
    color: white;
    font-size: 12pt;
    border-radius: 12px;
    }
    .form-retreat {
    margin-bottom: 2rem;
    }
    .form-control-string {
     margin-bottom: 1rem;
    }
.submit1 {
    background-color: #008CBA;
    padding: 14px 100px;
    color: white;
    font-size: 15pt;
    border-radius: 12px;
   }
.string-description{
 padding: 12px 40px;
}



    </style>
</head>
<body>
<div>
    <h1>Table : Customers</h1>
    <h2>You can get such following information from this table</h2>
    <div class="form-retreat">
        <h3>1. List of all customers </h3>
        <form name="listAllCustomers" action="/customers/all_customers" method="POST">
            <input class="submit2" type="submit" name="listAllCustomers_submit" value="Get info">
        </form>
    </div>
    <div class="form-retreat">
        <h3>2. Add customer </h3>
        <form name="addCustomer" action="/customers/add" method="POST">

            <div>
                <div>
                    <div class="form-control-string">
                        <div> Customer Name:
                        </div>
                        <div>
                            <input type="text" name="customerName">
                        </div>
                    </div>
                    <div class="form-control-string">
                        <div>
                            EDRPOU:
                        </div>
                        <div>
                            <input type="number" name="edrpou">
                        </div>
                    </div>
                    <div class="form-control-string">
                        <div>
                            Product:
                        </div>
                        <div>
                            <input type="text" name="customerProduct"><br>
                        </div>
                    </div>
                </div>
                <div>
                    <input class="submit2" type="submit" name="addCustomer_submit" value="Add">
                </div>
            </div>
        </form>
    </div>
    <div>
        <h4></h4>
        <form action="/" method="GET">
            <input class="submit1"  type="submit" value="To the main menu">
        </form>
    </div>
</div>
</body>
</html>