<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All developers</title>

    <style>
    .submit1 {
    background-color: #008CBA;
    padding: 14px 40px;
    color: white;
    font-size: 15pt;
    border-radius: 12px;
    }
    .form-control-string {
     margin-bottom: 1rem;
    }
    </style>
</head>
<body>
<div>
    <form action="/developers" method="GET">
        <div class="form-retreat2">
            <h1>List of all developers</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Developer name</th>
                    <th>Birth date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${list}">
                    <td th:text="${list.developerId}"></td>
                    <td th:text="${list.fullName}"></td>
                    <td th:text="${list.birthDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input class="submit1" type="submit" value="Developer menu">
        </div>
    </form>
</div>
</body>
</html>
