<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete developer</title>
    <style>
    .submit1 {
    background-color: #008CBA;
    padding: 14px 40px;
    color: white;
    font-size: 15pt;
    border-radius: 12px;
    }
    .form-control-string {
     margin-bottom: 1rem;
    }
    </style>
</head>
<body>
<div>
    <div class="form-control-string">
        <h1 th:text="${deleteDeveloper}"></h1>
        <h3 th:text="${fullName} + '- Birth date: ' + ${birthDate}"></h3>
    </div>
    <div>
        <form action=/developers method=GET>
            <input class="submit1" type=submit value='Developer menu'>
        </form>
    </div>
</div>
</body>
</html>