<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <style>

    .form-control-string {
     margin-bottom: 1rem;
    }

.submit1 {
    background-color: #008CBA;
    padding: 10px 60px;
    color: white;
    font-size: 10pt;
    border-radius: 12px;
   }
.submit2 {
    background-color: #008CBA;
    padding: 14px 100px;
    color: white;
    font-size: 15pt;
    border-radius: 12px;
   }
   /* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
    </style>
</head>
<body>
<div>
    <div class="form-control-string">
        <h1>Table : Projects</h1>
        <h2>You can get such following information from this table</h2>
        <div class="form-control-string">
            <h3>1. List of all projects </h3>
            <form name="listAllProjects" action="/project/projects_list_of_all" method="POST">
                <div>
                    <input class="submit1" type="submit" name="listAllProjects_submit" value="Get info">
                </div>

            </form>
        </div>
        <div>
            <h3>2. All info about project </h3>
            <form name="project" action="/project/project_all_info_about" method="POST">
                <div class="form-control-string">
                    <div class="form-control-string">
                        <div>
                            Project Name:
                        </div>
                        <div>
                            <input type="text" name="projectName">
                        </div>
                    </div>
                    <div>
                        <input class="submit1" type="submit" name="project_submit" value="Get info">
                    </div>
                </div>
            </form>
        </div>
    </div>
        <div>
            <form action="/" method="GET">
                <input class="submit2" type="submit" value="To the main menu">
            </form>
        </div>
    </div>
</body>
</html>